
<div class="pe-multiselect">
    <div class="pe-multiselect__label">
        <label [ngStyle]="labelStyle" #labelRef>{{ label }}</label>
    </div>
    <div class="pe-multiselect__container">
        <p-multiSelect
            #multiselectRef
            optionLabel="label"
            [formControl]="control"
            [ngClass]="{ 'multiselect-input-error': !control.valid && (control.dirty || control.touched)}"
            [options]="dataset"
            [defaultLabel]="placeholder"
            [display]="displayType">
        </p-multiSelect>
        <pe-error-messages 
            [control]="control" 
            [errorMessagesList]="errorMessages"
            [errorStyles]="{
                'left': labelWidth,
                'top': '43px'
            }">
        </pe-error-messages>
    </div>
</div>