
@import "/src/app/shared/styles/variables.scss";

.pe-multiselect {
    position: relative;
    &__label {
        display: inline-block;
    }
    &__container {
        display: contents;
        width: 100%;
    }
}

:host ::ng-deep .multiselect-input-error .p-multiselect.p-component.p-multiselect-chip {
    border-color: $errorColor;
}