<div class="search-payment-filter">
  <h5 class="mb-3">Поиск платежа</h5>

  <div class="input-row">
    <pe-input label="ID РЕ" [(value)]="filters.paymentID" [validationMessage]="filtersValidation['paymentId']" />
    <pe-input label="ID Заявки" [(value)]="filters.applicationID" [validationMessage]="filtersValidation['applicationID']" />
    <pe-input label="ID РН" [(value)]="filters.idPH" [validationMessage]="filtersValidation['idPH']" />
    <pe-input label="ID АБС" [(value)]="filters.docID" [validationMessage]="filtersValidation['docID']" />
    <pe-input label="ID Чека" [(value)]="filters.linkedChequeId" [validationMessage]="filtersValidation['linkedChequeId']" />
  </div>

  <div class="input-row">
    <pe-input label="Номер документа" [(value)]="filters.docNum" [validationMessage]="filtersValidation['docNum']" />
    <pe-input label="Номер счета" [(value)]="filters.account" [validationMessage]="filtersValidation['account']" />
    <pe-input label="IP Адрес" [(value)]="filters.channelIP" />
    <pe-input label="User Agent" [(value)]="filters.userAgent" />
  </div>

  <div class="input-row">
    <pe-input label="Номер чека" [(value)]="filters.chequeNumber" [validationMessage]="filtersValidation['chequeNumber']" />
    <pe-input label="Статус" [(value)]="filters.statusCode" />
  </div>
  <div class="date-row">
    <date-picker [(date)]="filters.dateTimeFrom" [validationMessage]="filtersValidation['dateFrom']" label="Дата/Время с"></date-picker>
    <date-picker [(date)]="filters.dateTimeTo" [validationMessage]="filtersValidation['dateTo']" label="Дата/Время по"></date-picker>
  </div>
  <div class="date-row">
    <date-picker [(date)]="filters.plannedDate" label="Плановая дата" [showTime]="false"></date-picker>
  </div>
  <div class="multiselect-row">
    <div class="mb-3">
      <label>Канал поступления заявки</label>
        <p-multiSelect
          [options]="receivingChanelOptions"
          [(ngModel)]="filters.channelName"
          optionLabel="label"
          defaultLabel="Выберите канал поступления заявки"
          display="chip">
        </p-multiSelect>
    </div>
    <div class="mb-3">
      <label>Тип объекта создавшего запрос</label>
      <p-multiSelect
          [options]="objectTypeOptions"
          [(ngModel)]="filters.parentType"
          optionLabel="label"
          defaultLabel="Выберите тип объекта создавшего запрос"
          display="chip">
      </p-multiSelect>
    </div>
    <div>
      <label>Тип перевода</label>
      <p-multiSelect
        [options]="transferTypes"
        [(ngModel)]="filters.type"
        optionLabel="label"
        defaultLabel="Выберите тип перевода"
        display="chip"
      ></p-multiSelect>
    </div>
  </div>
  <div>
    <button pButton class="pe-button"      [label]="'Очистить'"                       (click)="onClear()"></button>
    <button pButton class="pe-button ml-2" [label]="'Найти'"                          (click)="onSearch()"></button>
    <button pButton class="pe-button ml-2" [label]="'Найти и сформировать отчет СБП'" (click)="searchAndGenerateDoc()"></button>
  </div>
</div>
