.search-payment-filter {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-gap: 20px;
}

.input-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.date-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.checkboxes-row {
  display: flex;
  align-items: center;
  gap: 45px
}

.multiselect-row {
  > div {
    white-space: nowrap;
    :not(:last-child) {
      margin-bottom: 20px;
    }
    > label {
      margin-right: 25px;
    }
  }
}

:host ::ng-deep p-multiselect > div.p-multiselect.p-component.p-multiselect-chip {
  max-width: 800px;
}

p-multiSelect {
  max-width: 600px;
}
