<div class="search-payment-filter" [formGroup]="filter">
  <h5>Поиск платежа</h5>

  <div class="input-row">
    <pe-input-form label="ID РЕ"      [control]="filter.controls.paymentID"     [maxLength]="36"></pe-input-form>
    <pe-input-form label="ID Заявки"  [control]="filter.controls.applicationID" [maxLength]="70"></pe-input-form>
    <pe-input-form label="ID РН"      [control]="filter.controls.idPH" ></pe-input-form>
    <pe-input-form label="ID АБС"     [control]="filter.controls.docID" ></pe-input-form>
  </div>

  <div class="input-row">
    <pe-input-form label="ID Чека"          [control]="filter.controls.linkedChequeId" ></pe-input-form>
    <pe-input-form label="Номер документа"  [control]="filter.controls.docNum" ></pe-input-form>
    <pe-input-form label="Номер счета"      [control]="filter.controls.account" [maxLength]="35"></pe-input-form>
    <pe-input-form label="Номер чека"       [control]="filter.controls.chequeNumber" ></pe-input-form>
  </div>

  <div class="input-row">
    <pe-input-form label="IP Адрес"    [control]="filter.controls.channelIP" [regExprValidation]="IP_REG_EXPR" [maxLength]="35"></pe-input-form>
    <pe-input-form label="User Agent"  [control]="filter.controls.userAgent" ></pe-input-form>
  </div>

  <div class="date-row">
    <pe-date-picker-form
      [control]="filter.controls.dateTimeFrom"
      label="Дата/Время с"
      [labelStyle]="{ 'width': '200px' }">
    </pe-date-picker-form>
  </div>
  <div class="date-row">
    <pe-date-picker-form
      [control]="filter.controls.dateTimeTo"
      label="Дата/Время по"
      [labelStyle]="{ 'width': '200px' }">
    </pe-date-picker-form>
  </div>
  <div class="date-row">
    <pe-date-picker-form
      [control]="filter.controls.plannedDate"
      label="Дата исполнения платежа"
      [labelStyle]="{ 'width': '200px' }"
      [showTime]="false">
    </pe-date-picker-form>
  </div>
  <div class="multiselect-row">
    <div>
      <pe-multiselect-form
        [control]="filter.controls.channelName"
        [dataset]="multiselectDataSetsEnum.GetReceivingChanelOptions"
        placeholder="Выберите канал поступления заявки"
        label="Канал поступления заявки"
        [labelStyle]="{'min-width': '260px', 'display': 'block'}">
      </pe-multiselect-form>
    </div>
    <div>
      <pe-multiselect-form
        [control]="filter.controls.codeStatuses"
        [dataset]="multiselectDataSetsEnum.GetPaymentStatuses"
        placeholder="Выберите статус"
        label="Статус"
        [labelStyle]="{'min-width': '260px', 'display': 'block'}">
      </pe-multiselect-form>
    </div>
    <div>
      <pe-multiselect-form
        [control]="filter.controls.parentType"
        [dataset]="multiselectDataSetsEnum.GetObjectTypeOptions"
        placeholder="Выберите тип объекта создавшего запрос"
        label="Тип объекта создавшего запрос"
        [labelStyle]="{'min-width': '260px', 'display': 'block'}">
      </pe-multiselect-form>
    </div>
    <div>
      <pe-multiselect-form
        [control]="filter.controls.type"
        [dataset]="multiselectDataSetsEnum.GetManualChecksTransferTypes"
        placeholder="Выберите тип перевода"
        label="Тип перевода"
        [labelStyle]="{'min-width': '260px', 'display': 'block'}">
      </pe-multiselect-form>
    </div>
  </div>
  <div>
    <button pButton class="pe-button-grey" [label]="'Очистить'" (click)="onClear()"></button>
    <button pButton class="pe-button ml-2" [label]="'Найти'" (click)="onSearch()"></button>
    <button
      pButton
      class="pe-button ml-2"
      [loading]="searchPaymentService.$reportLoading.value"
      [label]="'Найти и сформировать отчет СБП'"
      (click)="searchAndGenerateDoc()"
      [disabled]="false"
    ></button>
  </div>

</div>
