
<div class="input-with-error-container" *ngIf="!!control">
  <span class="p-float-label">
    <input
      [formControl]="control"
      #peInput
      pInputText
      id="input"
      type="text"
      style="width: 100%"
      [class]="{'input-error': !control.valid && (control.dirty || control.touched)}"
      [maxLength]="maxLength"
      [readOnly]="disabled"
      [disabled]="disabled"
      [allowedInputCharactersReg]="regExprValidation"
    />
    <label for="input" [ngStyle]="labelStyle">{{ label }}</label>
  </span>
  <pe-error-messages [control]="control" [errorMessagesList]="errorMessages"></pe-error-messages>
</div>
  