
<div class="input-with-error-container" *ngIf="!!control">
  <span class="p-float-label">
    <input
      [formControl]="control"
      #peInput
      pInputText
      id="input"
      type="text"
      style="width: 100%"
      [class]="{'input-error': !control.valid && (control.dirty || control.touched)}"
      [maxLength]="maxLength"
      [disabled]="disabled"
      [allowedInputCharactersReg]="regExprValidation"
    />
    <label for="input">{{ label }}</label>
  </span>
  <ng-container *ngIf="!control.valid && (control.dirty || control.touched)">
    <ng-container *ngFor="let error of control.errors | keyvalue">
      <ng-container *ngIf="error.value === true">
        <span class="error-message">{{ errorMessages[error.key] }}</span>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
  