
<div class="pe-multi-checkbox">

    <pe-r-multi-checkbox 
        [formControl]="control" 
        [title]="title" 
        [horizontal]="horizontal"
        [hasError]="(control.invalid && (control.dirty || control.touched)) && !!control.errors"
        [disabled]="disabled">
    </pe-r-multi-checkbox>

    <pe-error-messages 
      [control]="control" 
      [errorMessagesList]="errorMessages"
      [errorStyles]="{
        'top': '43px',
        'position': 'unset',
        'left': 'unset'
      }">
    </pe-error-messages>

</div>
