
<div class="pe-multi-checkbox">
    <pe-r-multi-checkbox 
        [formControl]="control" 
        [title]="title" 
        [horizontal]="horizontal"
        [hasError]="(control.invalid && (control.dirty || control.touched)) && !!control.errors">
    </pe-r-multi-checkbox>

    <ng-container *ngIf="!control.valid && (control.dirty || control.touched)">
      <ng-container *ngFor="let error of control.errors | keyvalue">
        <ng-container *ngIf="error.value === true">
          <span class="error-message">{{ errorMessages[error.key] }}</span>
        </ng-container>
      </ng-container>
    </ng-container>
</div>
