
<div class="anti-fraud-check-filter pe-border">

    <h5>AntiFraud проверка: поиск заявок</h5>

    <pe-indent [mBottom]="5"></pe-indent>

    <div class="id-inputs">
        <pe-input
            label="ID PE"
            [(value)]="antiFraudCheckFilter.paymentID"
            [validationMessage]="validations['paymentID']">
        </pe-input>
        <pe-indent [mRight]="5"></pe-indent>
        <pe-input
            label="ID Заявки"
            [(value)]="antiFraudCheckFilter.applicationID"
            [validationMessage]="validations['applicationID']">
        </pe-input>
    </div>

    <pe-indent [mBottom]="4"></pe-indent>

    <date-picker
        label="Дата/время с"
        [(ngModel)]="antiFraudCheckFilter.dateTimeFrom"
        [validationMessage]="validations['dateTimeFrom']"
        (DateChanged)="validateDates()"
        [labelStyle]="{ 'width': '130px' }">
    </date-picker>

    <pe-indent [mBottom]="4"></pe-indent>

    <date-picker
        label="Дата/время по"
        [(ngModel)]="antiFraudCheckFilter.dateTimeTo"
        [validationMessage]="validations['dateTimeTo']"
        (DateChanged)="validateDates()"
        [labelStyle]="{ 'width': '130px' }">
    </date-picker>

    <pe-indent [mBottom]="4"></pe-indent>

    <pe-multiselect
        label="Состояние заявки"
        placeholder="Выберите состояние заявки"
        [(selected)]="antiFraudCheckFilter.manualAntiFraudCheckStatusList"
        [dataset]="multiselectDataSets.GetAntiFraudApplicationStatus"
        [validationMessage]="validations['manualAntiFraudCheckStatusList']"
        [labelStyle]="{ 'width': '155px' }">
    </pe-multiselect>

    <pe-indent [mBottom]="4"></pe-indent>

    <div class="anti-fraud-checkbox" [ngClass]="{ 'onlyExpired-error': !!validations['onlyExpired'] }">
        <p-checkbox
            *ngIf="showCheckbox"
            label="Только просроченные"
            [disabled]="true"
            [(ngModel)]="antiFraudCheckFilter.agedOnly"
            [binary]="true">
        </p-checkbox>

        <pe-indent [mBottom]="5"></pe-indent>
    </div>

    <div class="buttons">
        <p-button
            label="Очистить"
            (click)="clear()"
            styleClass="p-button-secondary p-button-outlined">
        </p-button>
        <pe-indent [inline]="true" [mRight]="5"></pe-indent>
        <p-button
            (click)="search()"
            label="Найти">
        </p-button>
    </div>

    <pe-indent [mBottom]="5"></pe-indent>

</div>
