
<div class="anti-fraud-check-filter pe-border" [formGroup]="filter">

    <h5>AntiFraud проверка: поиск заявок</h5>

    <pe-indent [mBottom]="5"></pe-indent>

    <div class="id-inputs">
        <pe-input-form label="ID PE" [control]="filter.controls.paymentID"></pe-input-form>
        <pe-indent [mRight]="5"></pe-indent>
        <pe-input-form label="ID Заявки" [control]="filter.controls.applicationID"></pe-input-form>
    </div>

    <pe-indent [mBottom]="4"></pe-indent>

    <pe-date-picker-form
        label="Дата/время с"
        [control]="filter.controls.dateTimeFrom"
        [labelStyle]="{ 'width': '130px' }"
        [showTime]="false">
    </pe-date-picker-form>

    <pe-indent [mBottom]="4"></pe-indent>

    <pe-date-picker-form
        label="Дата/время по"
        [control]="filter.controls.dateTimeTo"
        [labelStyle]="{ 'width': '130px' }"
        [showTime]="false">
    </pe-date-picker-form>

    <pe-indent [mBottom]="4"></pe-indent>

    <pe-multiselect-form
        label="Состояние заявки"
        placeholder="Выберите состояние заявки"
        [control]="filter.controls.manualAntiFraudCheckStatusList"
        [dataset]="multiselectDataSets.GetAntiFraudApplicationStatus"
        [labelStyle]="{ 'width': '155px', display: 'block' }">
    </pe-multiselect-form>

    <pe-indent [mBottom]="4"></pe-indent>

    <div class="anti-fraud-checkbox">
        
        <pe-checkbox-form
            *ngIf="showCheckbox"
            [control]="filter.controls.agedOnly"
            [disabled]="true",
            label="Только просроченные">
        </pe-checkbox-form>

        <pe-indent [mBottom]="5"></pe-indent>

    </div>

    <div class="buttons">
        <p-button
            label="Очистить"
            (click)="clear()"
            styleClass="p-button-secondary p-button-outlined">
        </p-button>
        <pe-indent [inline]="true" [mRight]="5"></pe-indent>
        <p-button
            (click)="search()"
            label="Найти">
        </p-button>
    </div>

    <pe-indent [mBottom]="5"></pe-indent>

</div>
