
<div class="ms-filter">
    <h5>Ручной разбор ошибочных переводов/платежей</h5>

    <div class="ms-filter__forms">
        <pe-input label="ID PE"   [(value)]="filter.paymentID" />
        <pe-input label="ID_PT"   [(value)]="filter.applicationID" />
        <pe-input label="ID_PH"   [(value)]="filter.paymentHubPaymentId" />
        <pe-input label="account" [(value)]="filter.account" />
    </div>
    <div class="ms-filter__forms">
        <div>
            <label>Дата/Время с</label>
        </div>
        <div>
            <p-calendar [(ngModel)]="filter.dateFrom" #dateToRef></p-calendar>
        </div>
        <div>
            <i class="pi pi-calendar c-pointer" (click)="openDateToCalendar()"></i>
        </div>
        <div>
            <p-calendar
                [timeOnly]="true"
                hourFormat="24"
                [style]="{ 'width': '60px' }"
                [(ngModel)]="filter.timeFrom">
            </p-calendar>
        </div>
    </div>
    <div class="ms-filter__forms">
        <div>
            <label>Дата/Время по</label>
        </div>
        <div>
            <p-calendar [(ngModel)]="filter.dateTo" #dateFromRef></p-calendar>
        </div>
        <div>
            <i class="pi pi-calendar c-pointer" (click)="openDateFromCalendar()"></i>
        </div>
        <div>
            <p-calendar
                [timeOnly]="true"
                hourFormat="24"
                [style]="{ 'width': '60px' }"
                [(ngModel)]="filter.timeTo">
            </p-calendar>
        </div>
    </div>
    <div class="ms-filter__forms">
        <div>
            <label>Статус</label>
        </div>
        <div class="ms-filter__multiselect">
            <p-multiSelect
                [options]="paymentStatuses"
                [(ngModel)]="filter.status"
                optionLabel="label"
                defaultLabel="Выберите статус"
                display="chip"
            ></p-multiSelect>
        </div>
    </div>
    <div class="ms-filter__forms">
        <div>
            <label>Тип перевода</label>
        </div>
        <div class="ms-filter__multiselect">
            <p-multiSelect
                [options]="transferTypes"
                [(ngModel)]="filter.types"
                optionLabel="label"
                defaultLabel="Выберите тип перевода"
                display="chip"
            ></p-multiSelect>
        </div>
    </div>

    <div class="ms-filter__buttons">
        <button class="btn btn-success me-2" (click)="clearFilter()">Очистить</button>
        <button class="btn btn-success" (click)="searchPayments()">Найти</button>
    </div>

</div>
