
.ms-filter {

    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 15px;

    h5 {
        margin-bottom: 36px;
    }
    
    pe-input {
        margin-right: 20px;
    }

    &__forms {
       display: flex;
       align-items: center;
       min-width: 0;
       margin-bottom: 30px;

       pe-input-form {
        margin-right: 20px;
       }

       div {
            > label {
                white-space: nowrap;
                margin-right: 20px;
            }
            > input, p-calendar, p-dropdown, i {
                 margin-right: 15px;
            }
            > i {
                font-size: 1.7rem;
            }
       }
       div:first-child {
        width: 235px;
       }
    }

    &__multiselect-forms {
        margin-bottom: 30px
    }

    &__buttons {
        display: flex;
    }

}