
.ms-filter {

    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 15px;

    h5 {
        margin-bottom: 36px;
    }
    
    pe-input {
        margin-right: 20px;
    }

    &__forms {
       display: flex;
       align-items: center;
       min-width: 0;
       margin-bottom: 30px;
       div {
            > label {
                white-space: nowrap;
                margin-right: 20px;
            }
            > input, p-calendar, p-dropdown, i {
                 margin-right: 15px;
            }
            > i {
                font-size: 1.7rem;
            }
       }
       div:first-child {
        width: 235px;
       }
    }

    &__buttons {
        display: flex;
    }

    &__multiselect {
        max-width: calc(100% - 235px);
        width: calc(100% - 235px);
    }

}

:host ::ng-deep p-multiselect > div.p-multiselect.p-component.p-multiselect-chip {
    max-width: 100%;
}