
<div [formGroup]="msFilterFormGroup" class="ms-filter">
    <h5>Ручной разбор ошибочных переводов/платежей</h5>

    <div class="ms-filter__forms">
        <pe-input label="ID PE" />
        <pe-input label="ID_PE" />
        <pe-input label="ID_PT" />
        <pe-input label="ID_PH" />
        <pe-input label="ID_NC" />
    </div>
    <div class="ms-filter__forms">
        <div>
            <label>Дата/Время с</label>
        </div>
        <div>
            <p-calendar formControlName="dateFrom" #dateFromRef></p-calendar>
        </div>
        <div>
            <i class="pi pi-calendar c-pointer" (click)="openDateFromCalendar()" [clickTo]="null"></i>
        </div>
        <div>
            <p-calendar
                formControlName="timeFrom"
                [timeOnly]="true"
                hourFormat="24"
                [style]="{ 'width': '60px' }">
            </p-calendar>
        </div>
    </div>
    <div class="ms-filter__forms">
        <div>
            <label>Дата/Время по</label>
        </div>
        <div>
            <p-calendar formControlName="dateFrom" #dateFromRef></p-calendar>
        </div>
        <div>
            <i class="pi pi-calendar c-pointer" (click)="openDateToCalendar()"></i>
        </div>
        <div>
            <p-calendar
                formControlName="timeFrom"
                [timeOnly]="true"
                hourFormat="24"
                [style]="{ 'width': '60px' }">
            </p-calendar>
        </div>
    </div>
    <div class="ms-filter__forms">
        <div>
            <label>Статус</label>
        </div>
        <div>
            <input pInputText type="text" formControlName="status" />
        </div>
    </div>
    <div class="ms-filter__forms">
        <div>
            <label>Тип перевода</label>
        </div>
        <div>
            <p-dropdown formControlName="transferType" [options]="transferTypes" optionLabel="name"></p-dropdown>
        </div>
    </div>

    <div class="ms-filter__buttons">
        <button class="btn btn-success me-2">Очистить</button>
        <button class="btn btn-success">Найти</button>
    </div>

</div>
