<div class="textarea-with-error-container">
  <span class="p-float-label">
    <textarea
      #peTextarea
      pInputTextarea
      id="textarea"
      type="text"
      style="width: 100%"
      [class]="{ 'textarea-error': !!validationMessage }"
      [rows]="rows"
      [maxLength]="maxLength"
      [disabled]="disabled"
      [(ngModel)]="value"
      [allowedInputCharactersReg]="regExprValidation"
    ></textarea>
    <label for="textarea">{{ label }}</label>
  </span>
  <span class="error-message" *ngIf="!!validationMessage">{{ validationMessage }}</span>
</div>
