.search-payment {
  display: flex;
  flex-direction: column;
  gap: 20px;

  > app-search-payment-filters {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 15px;
  }

  > app-search-payment-table {
    min-height: 200px;
    margin-bottom: 10px;
  }

}
