<div [class]="{ 'date-picker-container': true, error: !!validationMessage }">
  <label [ngStyle]="labelStyle">{{ label }}</label>
  <div class="date-with-error-container">
    <p-calendar [disabled]="disabled" [(ngModel)]="dateValue" dateFormat="dd/mm/yy" #datePickerRef></p-calendar>
    <span class="error-message" *ngIf="!!validationMessage">{{ validationMessage }}</span>
  </div>
  <i class="pi pi-calendar c-pointer" *ngIf="!disabled" (click)="datePickerRef.toggle()"></i>
  <p-calendar [disabled]="disabled" *ngIf="showTime" [(ngModel)]="timeValue" [timeOnly]="true" hourFormat="24" [style]="{ width: '60px' }">
  </p-calendar>
</div>
