<div [class]="{ 'date-picker-container': true, error: !!validationMessage }">
  <label [ngStyle]="labelStyle">{{ label }}</label>
  <div class="date-with-error-container">
    <p-calendar [disabled]="disabled" [(ngModel)]="dateValue" dateFormat="dd/mm/yy" #datePickerRef></p-calendar>
    <span class="error-message" *ngIf="!!validationMessage">{{ validationMessage }}</span>
  </div>
  <i class="pi pi-calendar c-pointer" *ngIf="!disabled" (click)="datePickerRef.toggle()"></i>
  <p-calendar
    *ngIf="showTime"
    [disabled]="disabled"
    [(ngModel)]="timeValue"
    [timeOnly]="true"
    [showSeconds]="true"
    hourFormat="24"
    [style]="{ width: '80px' }">
  </p-calendar>
</div>
