
@import "/src/app/shared/styles/variables.scss";

.date-picker-container {
  display: flex;
  align-items: center;
  gap: 25px;

  > i {
    font-size: 1.7rem;
  }
}

.date-with-error-container {
  position: relative;
}

:host ::ng-deep .error .p-inputwrapper .p-inputtext {
  border-color: $errorColor !important;
}

:host ::ng-deep .p-datepicker table td {
  padding: 0px;
}

:host ::ng-deep .p-datepicker {
  left: 200px!important;
}