.multi-checkbox{
  display: flex;
  align-items: center;
  gap: 20px;

  &-vertical {
    flex-direction: column;
    align-items: flex-start;
  }
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &-vertical{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 5px
}
