<div class="input-with-error-container">
  <span class="p-float-label">
    <input
      #peInput
      pInputText
      id="input"
      type="text"
      style="width: 100%"
      [class]="{ 'input-error': !!validationMessage }"
      [maxLength]="maxLength"
      [disabled]="disabled"
      [(ngModel)]="value"
      [allowedInputCharactersReg]="regExprValidation"
      [disableCharactersValidation]="disabled"
    />
    <label [ngStyle]="labelStyle" for="input">{{ label }}</label>
  </span>
  <span class="error-message" *ngIf="!!validationMessage">{{ validationMessage }}</span>
</div>
