
<div class="anti-fraud-check-table">

    <pe-indent [mTop]="4"></pe-indent>

    <h5>Результат поиска</h5>

    <pe-indent [mTop]="4"></pe-indent>

    <ng-container *ngIf="!!tableData">
        <p-table
          [value]="tableData"
          [scrollable]="true"
          [autoLayout]="true"
          [paginator]="true"
          [resizableColumns]="true"
          [columnResizeMode]="'expand'"
          [loading]="antiFraudCheckService.$loading.value"
          [totalRecords]="antiFraudCheckService.count"
          [showCurrentPageReport]="true"
          [rows]="antiFraudCheckService.pagination.limit"
          [first]="antiFraudCheckService.pagination.offset"
          [lazy]="true"
          (onPage)="antiFraudCheckService.paginate($event)"
          currentPageReportTemplate="Отображено с {first} по {last} из {totalRecords} записей"
          [rowsPerPageOptions]="antiFraudCheckService.rowsPerPageOptions"
          styleClass="p-datatable-gridlines"
        >
          <ng-template pTemplate="header">
            <tr class="tps-by-status__row-gray">
              <th pResizableColumn *ngIf="hasAccessToSearchAgedOnly">Просрочка</th>
              <th pResizableColumn>ID PE</th>
              <th pResizableColumn>ID заявки</th>
              <th pResizableColumn>Дата заявки в PE</th>
              <th pResizableColumn>Статус AML</th>
              <th pResizableColumn>Статус AntiFraud</th>
              <th pResizableColumn>Статус BankOps</th>
              <th pResizableColumn>Тип</th>
              <th pResizableColumn>Количество приложенных документов</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-antiFraudItem>
            <tr style="height: 50px">
              <td *ngIf="hasAccessToSearchAgedOnly">{{antiFraudItem.overdueDays}}</td>
              <td>
                <div class="link" (click)="goToAntiFraudDetails(antiFraudItem.applicationID)">
                    {{antiFraudItem.paymentID}}
                </div>
              </td>
              <td>{{antiFraudItem.applicationID}}</td>
              <td>{{antiFraudItem.appCreationTime | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
              <td>{{antiFraudItem.manualAMLCheckStatus}}</td>
              <td>{{antiFraudItem.manualAntiFraudCheckStatus}}</td>
              <td>{{antiFraudItem.manualBankOpsCheckStatus}}</td>
              <td>{{antiFraudItem.type}}</td>
              <td>{{antiFraudItem.numberOfDocuments}}</td>
            </tr>
          </ng-template>
        </p-table>
    </ng-container>

    <pe-indent [mTop]="4"></pe-indent>

    <ng-container *ngIf="!tableData">
        <pe-loading-spinner *ngIf="antiFraudCheckService.$loading | async" [contentHeight]="'200px'"></pe-loading-spinner>
    </ng-container>


</div>



