<div class="aml-check-filter">
  <h5>AML проверка</h5>

  <div class="input-row">
    <pe-input
      label="ID РЕ"
      [(value)]="filters.paymentID"
      [validationMessage]="filtersValidation['paymentID']"
      [maxLength]="36" />
    <pe-input
      label="ID Заявки"
      [(value)]="filters.applicationID"
      [validationMessage]="filtersValidation['applicationID']"
      [maxLength]="70"
    />
  </div>

  <div class="date-row">
    <date-picker
      [(ngModel)]="filters.dateTimeFrom"
      [validationMessage]="filtersValidation['dateTimeFrom']"
      label="Дата/Время с"
      (dateChange)="validate(true)"
      [labelStyle]="{ width: '200px' }"
    >
    </date-picker>
  </div>
  <div class="date-row">
    <date-picker
      [(ngModel)]="filters.dateTimeTo"
      [validationMessage]="filtersValidation['dateTimeTo']"
      label="Дата/Время по"
      (dateChange)="validate(true)"
      [labelStyle]="{ width: '200px' }"
    >
    </date-picker>
  </div>
  <div class="multiselect-row">
    <div>
      <pe-multiselect
        [dataset]="multiselectDataSetsEnum.GetAmlApplicationStatuses"
        placeholder="Выберите состояние заявки"
        label="Состояния заявки"
        [labelStyle]="{ 'min-width': '225px', display: 'block' }"
        [validationMessage]="filtersValidation['applicationStatus']"
        [(selected)]="filters.applicationStatus"
      >
      </pe-multiselect>
    </div>
  </div>
  <div class="input-row">
    <p-checkbox [binary]="true" [disabled]="!hasAccessToSearchOnlyExpired" label="Только просроченные" [value]="filters.onlyExpired" />
  </div>
  <div>
    <button pButton class="pe-button" [label]="'Очистить'" (click)="onClear()"></button>
    <button pButton class="pe-button ml-2" [label]="'Найти'" (click)="onSearch()"></button>
  </div>
</div>
