<app-loading></app-loading>
<!-- <router-outlet></router-outlet> -->
<form [formGroup]="filter" (ngSubmit)="submit()">
    <div class="mb-5"></div>
    <pe-r-input label="ID PE"          [control]="filter.controls['paymentID']" [maxLength]="36"></pe-r-input>
    <div class="mb-5"></div>
    <pe-r-input label="ID Заявки"      [control]="filter.controls['applicationID']" [maxLength]="70"></pe-r-input>
    <div class="mb-5"></div>
    <pe-r-textarea label="ID PH"       [control]="filter.controls['paymentHubPaymentId']"></pe-r-textarea>
    <div class="mb-5"></div>
    <pe-r-textarea label="Номер счета" [control]="filter.controls['account']"></pe-r-textarea>
    <div class="mb-5"></div>
    <pe-r-date-picker label="Дата с"   [control]="filter.controls['dateStart']" [showTime]="true" (listenISODate)="listenISODate($event)"></pe-r-date-picker>
    <div class="mb-5"></div>
    <button type="submit">Check Filter Validation</button>
    <ng-container *ngIf="filter.errors && (filter.touched && filter.dirty)">
        <ng-container *ngFor="let error of filter.errors | keyvalue">
            <div class="error-message">{{ errorMessages[error.key] }}</div>
        </ng-container>
    </ng-container>
</form>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
