
.btn-success {
    &:hover {
        background: #4caf50 !important;
        opacity: 0.8 !important;
    }
    background-color: rgb(76, 175, 80) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

.btn-round {
    border-radius: 25px !important;
}