
@import "./buttons.scss";
@import "./indents.scss";
@import "./typography.scss";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

p-columnfilter p-inputnumber .p-inputnumber-button-group {
    display: none !important;
}

.c-pointer {
    cursor: pointer;
}

.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}





