
@import "./buttons.scss";
@import "./indents.scss";
@import "./typography.scss";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

p-columnfilter p-inputnumber .p-inputnumber-button-group {
    display: none !important;
}

.c-pointer {
    cursor: pointer;
}

.c-none {
    cursor: default!important;
}

.link {
    color: rgb(104, 150, 189);
    cursor: pointer;
    user-select: none;
}

a.link-hover {
    &:hover {
        color: rgba(104, 150, 189, 0.8);
    }
}

.uppercase {
    text-transform: uppercase;
}