
<div class="textarea-with-error-container">
  <span class="p-float-label">
    <textarea
      [formControl]="control"
      #peTextarea
      pInputTextarea
      id="textarea"
      type="text"
      style="width: 100%"
      [class]="{'textarea-error': !control.valid && (control.dirty || control.touched)}"
      [maxLength]="maxLength"
      [disabled]="disabled"
      [allowedInputCharactersReg]="regExprValidation"
    ></textarea>
    <label for="textarea">{{ label }}</label>
  </span>
  <pe-error-messages 
    [control]="control" 
    [errorMessagesList]="errorMessages" 
    [errorStyles]="{'position': 'unset'}">
  </pe-error-messages>
</div>
  