
<div class="textarea-with-error-container">
  <span class="p-float-label">
    <textarea
      [formControl]="control"
      #peTextarea
      pInputTextarea
      id="textarea"
      type="text"
      style="width: 100%"
      [class]="{'textarea-error': !control.valid && (control.dirty || control.touched)}"
      [maxLength]="maxLength"
      [disabled]="disabled"
      [allowedInputCharactersReg]="regExprValidation"
    ></textarea>
    <label for="textarea">{{ label }}</label>
  </span>
  <ng-container *ngIf="!control.valid && (control.dirty || control.touched)">
    <ng-container *ngFor="let error of control.errors | keyvalue">
      <ng-container *ngIf="error.value === true">
        <span class="error-message">{{ errorMessages[error.key] }}</span>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
  