$errorColor:  #f44336;

.p-float-label {
  position: relative;
  > label {
    top: -15px !important;
  }
}

.textarea-with-error-container {
  position: relative;
}

.textarea-error {
  border-color: $errorColor;
}