
<p-dialog [header]="modal.header" [(visible)]="show" [style]="style" [closable]="closable">
  
  <pe-dropdown
    label="Тип документа"
    placeholder="Выберите тип документа"
    [(selected)]="modal.data.docType"
    [dataset]="fileTypes"
    [disabled]="disabled"
    (selectValue)="openFileDialog($event)"
    (showed)="onDropdownShowed()">
  </pe-dropdown>

  <ng-content></ng-content>

  <input #fileForm id="file" type="file" class="file" (change)="fileUpload($event)" hidden [multiple]="multipleFiles" />

</p-dialog>

