
@import "/src/app/shared/styles/variables.scss";

label.disabled {
  opacity: 0.5;
}

.multi-checkbox{
    align-items: center;
    gap: 20px;
  
    &-vertical {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  .checkboxes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-vertical{
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    gap: 5px
  }

  :host ::ng-deep {
    div.formHasError > p-checkbox > div.p-checkbox.p-component > div.p-checkbox-box {
        border-color: $errorColor;
    }
}
  