
.anti-fraud-details {
    >.paragraph {
        font-size: 1.1rem;
    }

    .info-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px
    }
}

td {
    height: 32px;
}