<div class="search-payment-filter">
  <h5>Найденные платежи</h5>

  <ng-container *ngIf="tableData">
    <p-table
      [value]="tableData"
      [(selection)]="selectedPayments"
      [scrollable]="true"
      [autoLayout]="true"
      [paginator]="true"
      [resizableColumns]="true"
      [columnResizeMode]="'expand'"
      [loading]="searchPaymentService.$loading.value"
      [totalRecords]="searchPaymentService.count"
      [showCurrentPageReport]="true"
      [rows]="searchPaymentService.pagination.limit"
      [first]="searchPaymentService.pagination.offset"
      [lazy]="true"
      (onPage)="searchPaymentService.paginate($event)"
      currentPageReportTemplate="Отображено с {first} по {last} из {totalRecords} платежей"
      [rowsPerPageOptions]="searchPaymentService.rowsPerPageOptions"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr class="tps-by-status__row-gray">
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pResizableColumn>ID PE</th>
          <th pResizableColumn *ngFor="let column of tableColumns">
            {{ column.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-searchPaymentItem>
        <tr style="height: 50px">
          <td>
            <p-tableCheckbox [value]="searchPaymentItem"></p-tableCheckbox>
          </td>
          <td>
            <a *ngIf="hasAccessToViewTransferDetails; else elseBlock" class="link" (click)="paymentIdClick(searchPaymentItem.paymentID)">{{
              searchPaymentItem.paymentID
            }}</a>
            <ng-template #elseBlock>{{ searchPaymentItem.paymentId }}</ng-template>
          </td>
          <td *ngFor="let column of tableColumns">
            {{ searchPaymentItem[column.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div>
      <button pButton class="pe-button mr-2" label="Отменить" (click)="cancelPayments()"></button>
      <button pButton [loading]="searchPaymentService.$reportLoading.value" class="pe-button mr-2" [label]="'Сформировать отчет'" (click)="generateReport()"></button>
      <button pButton class="pe-button" [label]="'Сформировать отчет СБП'" (click)="generateSbpReport()" [disabled]="true"></button>
    </div>
  </ng-container>
  <pe-loading-spinner *ngIf="searchPaymentService.$loading.value && !tableData" [marginTop]="'10px'"></pe-loading-spinner>
</div>
