<div class="search-payment-filter">

  <h5>Найденные платежи</h5>

  <ng-container *ngIf="tableData">
    <div class="table-container">
      <p-table
        [value]="tableData"
        (onRowSelect)="onRowSelected($event)"
        styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr class="tps-by-status__row-gray">
            <th style="width: 4rem"></th>
            <th *ngFor="let column of tableColumns">
              {{column.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-searchPaymentItem>
          <tr>
            <td>
              <p-tableRadioButton [value]="searchPaymentItem"></p-tableRadioButton>
            </td>
            <td *ngFor="let column of tableColumns">
              {{searchPaymentItem[column.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div>
      <button pButton class="pe-button mr-2" [label]="'Сформировать отчет'"      (click)="generateReport()"></button>
<!--      <button pButton class="pe-button"      [label]="'Сформировать отчет СБП'"  (click)="generateReport()"></button>-->
    </div>
  </ng-container>

</div>

<app-loading-spinner *ngIf="tableData === null" [marginTop]="'10px'"></app-loading-spinner>
