
<form class="login-form" [formGroup]="loginForm" (ngSubmit)="tryAuthenticateUser()">
  <div class="login-form__title">
    <h4>Вход в WEB-интерфейс PE 2.0</h4>
  </div>
  <div class="login-form__login">
    <label>Логин</label>
    <input
      id="login"
      pInputText
      class="form-control"
      type="text"
      [ngClass]="{'required': loginRequired }"
      formControlName="login" />
  </div>
  <div class="login-form__password"> 
    <label>Пароль</label>
    <input
      id="password"
      pInputText
      class="form-control"
      type="password"
      [ngClass]="{'required': passwordRequired }"
      formControlName="password" />
  </div>
  <ng-container *ngIf="loginForm.invalid && !!loginForm.errors && (loginForm.touched || loginForm.dirty)">
    <div class="login-form__error" *ngIf="!!errorMessage">
      <label class="alert login-form__alert-error">{{ errorMessage }}</label>
    </div>
  </ng-container>
  <div class="login-form__login-button">
    <button pButton type="submit" class="p-button-success p-button-rounded" [label]="'Вход'"></button>
  </div>
</form>