
.login-form {
    width: -webkit-fill-available;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    font-size: 0.9rem;
    text-align: center;

    &__title {
        margin: 0px 0px 45px 40px;
        text-align: center;
    }

    &__login, &__password {
        display: block;
        label {
            display: inline-block;
            width: 60px;
            margin-right: 5px;
            margin-bottom: 13px;
        }
        input {
            width: 400px;
            display: inline-block;
            box-shadow: none;
            border-color: none;
            outline: 0;
            border: 1px solid #999;
            min-height: 50px;
        }
    }

    &__login {
        margin-bottom: 15px;
    }
    
    &__login-button  {
        margin-top: 20px;
        text-align: center;
        margin-left: 45px;
        button {
            &:hover {
                background: #4caf50;
                opacity: 0.8;
            }
            background-color: rgb(76, 175, 80);
            -webkit-box-shadow: none;
            box-shadow: none;
            border: none;
            outline: none;
            border-radius: 25px;
            width: 100px;
            height: 45px;
        }
    }

    &__error {
        display: flex;
        justify-content: center;
        margin-left: 45px;
        label {
            display: block;
            max-width: 500px;
            padding: 0px;
            margin: 0px;
            
        }
    }

    &__alert-error {
        margin-top: 20px!important;
        color: #da0664 !important;
        font-size: 9pt;
    }
}