
.mso {
    &__buttons {
        display: flex;
        justify-content: space-around;
        button {
            min-height: 55px;
            padding: 0px 15px 0px 15px;
            width: -webkit-fill-available;
        }
    }
}