

.ms-result {
    &__select-all {
        > p-checkbox {
            margin-right: 10px;
        }
    }
    &__commentary {
        margin-top: 20px;
        label {
            margin-right: 10px;
        }
        input {
            width: 60%;
        }
    }
    &__buttons {
        margin-top: 20px;
    }
}

.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
